.videos-container {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
}

.short-desc {
    width: 45vw;
    margin-top: 12vh;
}

.title {
    padding: 20px 0px 20px 15px;
    font-size: 40px;
    font-family: 'Cinzel', serif;
    color: #000;
}

.desc-paragraph{
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    color: #000;
}

.videos-section {
    width: 40vw;
    height: 80vh;
    display: flex;
    border-radius: 50%;
    border: 1px solid lightgray;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-image: linear-gradient(0deg, #fb86d1 0%, #39c7e6 50%, #42baf6 100%);
}


