.body-container {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    /* background-color: #fb86d1;
    background-image: linear-gradient(0deg, #fb86d1 0%, #39c7e6 50%, #42baf6 100%); */
    background-color: #F6DDCC;
}

.img-container {
    width: 50vw;
}

.about-container {
    width: 47vw;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-left: 20px;
    left: 0
}

.about-title {
    padding: 20px 0px 20px 0px;
    font-size: 40px;
    font-family: 'Cinzel', serif;
    color: #fff;
}

.sub-title {
    padding: 20px 0px 10px 0px;
    font-size: 27px;
    font-family: 'Cinzel', serif;
    color: #fff;
}

.about-para {
    inline-size: 90%;
    overflow-wrap: break-word;
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Avenir-light', sans-serif;
}